@use "sass:math";
@use "sass:list";

window.Bar {
  background: $bg-color;
  color: $fg-color;
  padding: 10px;

  .launcher {
    background-color: $inactive-color;
    border-radius: $rounded;
    transition: all 0.15s ease-out;
    padding: 0px;
    margin: 0px;

    &:hover {
      background-color: $bg-color;
    }
  }

  .workspace-container {
    background-color: $bg-color;
    color: $fg-color;
    border-radius: $rounded;

    .workspace-button {
      padding: 0px;
      border: 0px;
      margin: 2px;
      background-color: $inactive-color;
      min-height: 1rem;
      min-width: 1rem;
      border-radius: calc(list.nth(8px, 1) * 1.5);
      transition: min-width 0.15s ease-out;

      &:hover {
        background-color: $fg-color;
        &.occupied {
          background-color: $fg-color;
        }
      }

      &.active {
        min-width: 2.5rem;
        min-height: 1rem;
        background-color: $accent;
      }

      &.occupied {
        background-color: $accent;
        &.active {
          background-color: $accent;
        }
      }
    }
  }

  .focused-client {
    font-size: $font-size;
    color: $fg-color;
  }

  .pill {
    font-size: $font-size;
    color: $fg-color;
    background-color: $inactive-color;
    border-radius: calc($rounded / 1.5);
    padding: 5px 10px;
  }
}
