$accent: #ebdbb2;
$fg-color: #ebdbb2;
$bg-color: #282828;
$inactive-color: #807966;
$rounded: 8px;
$font-size: 1.3rem;

// bar
@import "./widgets/bar/style.scss";

// app-launcher
@import "./widgets/app-launcher/style.scss";
