$accent: #54cdb3;
$fg-color: #fff;
$bg-color: #0e0e0e;
$inactive-color: #252525;
$rounded: 8px;
$font-size: 1rem;

* {
  all: unset;
  font-family: FiraCode Nerd Font Bold;
}

// bar
@import "./widgets/bar/style.scss";

// launcher
@import "./widgets/launcher/style.scss";

// notifications
@import "./widgets/notifications/style.scss";
