@use "./_variable.scss" as *;
@use "sass:math";
@use "sass:list";

window.Bar {
  background: $bg-color;
  color: $fg-color;
  padding: 10px;
  margin: 10px 10px 0px 10px;
  border-radius: $rounded;

  .launcher {
    &:hover {
      background-color: $bg-color;
    }
  }

  .workspace-container {
    background-color: $bg-color;
    color: $fg-color;
    border-radius: $rounded;

    .workspace-button {
      padding: 0px;
      border: 0px;
      margin: 2px;
      background-color: $inactive-color;
      min-height: 1rem;
      min-width: 1rem;
      border-radius: calc(list.nth(8px, 1) * 1.5);
      transition: all 0.15s ease-out;

      &:hover {
        background: rgba($accent, 0.5);
        &.occupied {
          background: rgba($accent, 0.5);
        }
      }

      &.active {
        min-width: 2.5rem;
        min-height: 1rem;
        background-color: $accent;
      }

      &.occupied {
        background-color: $accent;
        &.active {
          background-color: $accent;
        }
      }
    }
  }

  .focused-client {
    font-size: $font-size;
    color: $fg-color;
  }

  .pill {
    font-size: $font-size;
    color: $fg-color;
    background-color: $inactive-color;
    border-radius: calc($rounded / 1.5);
    padding: 8px;

    image {
      -gtk-icon-size: 1.5rem;
    }
  }

  .tray {
    image {
      -gtk-icon-size: 1.3rem;
    }

    menubutton {
      padding: 0px 5px;
    }
  }

  .volume {
    image {
      -gtk-icon-size: 1.5rem;
    }

    trough {
      background-color: $bg-color;
      min-height: 10px;
      border-radius: 10px;
    }

    highlight {
      background-color: $fg-color;
      min-height: 10px;
      border-radius: 10px;
    }
  }
}
