@use "./_variable.scss" as *;
@use "sass:math";
@use "sass:list";

window.control-center {
  background: $bg-color;
  color: $fg-color;
  min-width: 400px;
  padding: 20px;
  margin: 10px;
  border-radius: $rounded;

  .pill {
    font-size: $font-size;
    color: $fg-color;
    background-color: $inactive-color;
    border-radius: calc($rounded / 1.5);
    padding: 20px;

    image {
      -gtk-icon-size: 2rem;
    }
  }

  .system-info {
    image {
      color: rgba($accent, 0.8);
      -gtk-icon-size: 4rem;
    }
  }

  .header {
    .controls {
      button {
        background-color: $inactive-color;
        border-radius: calc($rounded / 1.5);
        padding: 10px;
        transition: color 100ms;

        &:hover {
          background-color: rgba($accent, 1);

          image {
          }
        }
      }

      image {
        -gtk-icon-size: 2rem;
      }
    }
  }

  .footer {
    label {
      color: $accent;
      font-size: 18px;
      font-family: BigBlueTermPlus Nerd Font;
    }
  }

  .volume {
    trough {
      background-color: $bg-color;
      min-height: 10px;
      min-width: 10px;
      border-radius: 10px;
    }

    highlight {
      background-color: rgba($accent, 0.8);
      min-height: 10px;
      min-width: 10px;
      border-radius: 10px;
    }
  }
}
