@use "./_variable.scss" as *;

window.launcher {
  background: $bg-color;
  border-radius: $rounded;
  padding: 10px;
  font-size: $font-size;

  .search {
    min-width: 300px;
    padding: 10px;
    color: rgba($fg-color, 0.5);
  }

  separator {
    border: 1px solid rgba($inactive-color, 0.5);
  }

  .list {
    background: $bg-color;
  }

  .button {
    border-radius: $rounded;
    padding: 10px;

    &:hover,
    &:focus {
      background: $inactive-color;
    }

    image {
      -gtk-icon-size: 1.5rem;
    }
  }

  .name {
    color: $fg-color;
  }
}
